body {
    font-family: 'Constantia', sans-serif;
    color: #202025;
    background-color: #202025;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.33em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Palatino', 'Palatino Linotype', serif;
    margin: 0 0;
    padding: 0 0;
    white-space: nowrap;
}

header, footer {
    background: linear-gradient(90deg, #073E88 75%, #202025);
    color: #E0E0E0;
    padding: 10px 10px;
    margin: 0 0;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

div.out {
    margin: 20px 20px;
    background-color: #FDFDFD;
    border: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    min-width: 450px;
}

div.in {
    padding: 20px 20px;
    margin: auto;
    min-width: 400px;
    box-sizing: border-box;
}

div.column {
    min-width: 400px;
    width: 49.5%;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

div.column.first {
    padding-right: 5px;
}

div.column.second {
    padding-left: 5px;
}

table#main-table {
    width: 100%;
}

#main-table a {
    color: inherit;
    text-decoration: inherit;
}

fieldset {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

input[type=text], input[type=number] {
    display: inline-block;
    background-color: #101010;
    color: white;
    border: 2px solid #073E88;
    border-radius: 5px;
    padding: 4px;
}

textarea {
    width: 100%;
    min-height: 100px;
    max-width: 100%;
    background-color: #101010;
    border: 2px solid #073E88;
    color: white;
    margin: 10px 0;
    padding: 7px;
    border-radius: 5px;
    box-sizing: border-box;
}

.column textarea {
    box-sizing: border-box;
}

input[type=submit], input[type=button] {
    background-color: #073E88;
    color: #E0E0E0;
    border-radius: 5px;
    border-color: black;
}

input {
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    margin: 5px 0;
    box-sizing: border-box;
}

.column .json-prompt {
    display: inline-block;
}

#save, #paste {
    display: inline-block;
    width: auto;
}

#paste {
    text-align: right;
}

.paste {
    display: inline-block;
    float: right;
    margin-top: -9px;
}

div.table-bottom {
    width: 100%;
}

div.total {
    display: inline-block;
    text-align: right;
    width: 50%;
}

.total-marker {
    display: inline-block;
}

.total-amount {
    min-width: 100px;
    display: inline-block;
}


@media only screen and (max-width: 1000px) {
    div.column {
        width: 100%;
        padding-left: 0;
    }
    div.column.first {
        padding-bottom: 50px;
        padding-right: 0;
    }
}